.darker-pane {
    background-color: #3e3e3e;
    @include border-radius(10px);
    position: relative;
    padding: 0 20px 30px;
  }

  hr.style-two {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .mustardize {
      color: #fc0;
  }